@charset "utf-8";

/* ======================================


 initial setting


==================================== */
/*!
 * ress.css • v1.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
	box-sizing: border-box;
	overflow-y: scroll;
	/* All browsers without overlaying scrollbars */
	-webkit-text-size-adjust: 100%;
	/* iOS 8+ */
}

*,
::before,
::after {
	background-repeat: no-repeat;
	/* Set `background-repeat: no-repeat` to all elements */
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	/* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
	vertical-align: inherit;
}

/* Remove margin, padding of all elements */
* {
	padding: 0;
	/* Reset `padding` and `margin` of all elements */
	margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
	display: none;
	height: 0;
}

hr {
	overflow: visible;
	/* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

summary {
	display: list-item;
	/* Add the correct display in all browsers */
}

small {
	font-size: 80%;
	/* Set font-size to 80% in `small` elements */
}

[hidden],
template {
	display: none;
	/* Add the correct display in IE */
}

abbr[title] {
	border-bottom: 1px dotted;
	/* Add a bordered underline effect in all browsers */
	text-decoration: none;
	/* Remove text decoration in Firefox 40+ */
}

a {
	background-color: transparent;
	/* Remove the gray background on active links in IE 10 */
	-webkit-text-decoration-skip: objects;
	/* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
	outline-width: 0;
	/* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	/* Specify the font family of code elements */
}

b,
strong {
	font-weight: bolder;
	/* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
	font-style: italic;
	/* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
	background-color: #ff0;
	color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Safari6 */
b,
strong {
	font-weight: inherit;
}

/* Chrome, Edge, and Safari. */
b,
strong {
	font-weight: bolder;
}

iframe {
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style: none;
}

i {
	font-style: normal;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
	border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
	cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
	cursor: default;
}

[type="number"] {
	width: auto;
	/* Firefox 36+ */
}

[type="search"] {
	-webkit-appearance: textfield;
	/* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	/* Safari 8 */
}

textarea {
	overflow: auto;
	/* Internet Explorer 11+ */
	resize: vertical;
	/* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	/* Specify font inheritance of form elements */
}

optgroup {
	font-weight: bold;
	/* Restore the font weight unset by the previous rule. */
}

button {
	overflow: visible;
	/* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: 0;
	padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* Correct the inability to style clickable types in iOS */
}

button,
select {
	text-transform: none;
	/* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
	color: inherit;
}

/* Style select like a standard input */
select {
	-moz-appearance: none;
	/* Firefox 36+ */
	-webkit-appearance: none;
	/* Chrome 41+ */
}

select::-ms-expand {
	display: none;
	/* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor;
	/* Internet Explorer 11+ */
}

legend {
	border: 0;
	/* Correct `color` not being inherited in IE 8/9/10/11 */
	color: inherit;
	/* Correct the color inheritance from `fieldset` elements in IE */
	display: table;
	/* Correct the text wrapping in Edge and IE */
	max-width: 100%;
	/* Correct the text wrapping in Edge and IE */
	white-space: normal;
	/* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* Correct the inability to style clickable types in iOS and Safari */
	font: inherit;
	/* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
	-webkit-appearance: textfield;
	/* Correct the odd appearance in Chrome and Safari */
	outline-offset: -2px;
	/* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
	border-style: none;
	/* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
	vertical-align: baseline;
}

svg:not(:root) {
	overflow: hidden;
	/* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
	display: inline-block;
	/* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
	[hidden~="screen"] {
		display: inherit;
	}

	[hidden~="screen"]:not(:active):not(:focus):not(:target) {
		position: absolute !important;
		clip: rect(0 0 0 0) !important;
	}
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
	cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
	cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
	cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
	background-color: #b3d4fc;
	/* Required when declaring ::selection */
	color: #000;
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc;
	/* Required when declaring ::selection */
	color: #000;
	text-shadow: none;
}



/* ======================================


 basic layout


==================================== */
html {
	font-size: 62.5%;/*10px*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: auto;
}

body {
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "MSゴシック", sans-serif;
	font-size: 1.6rem;
	font-feature-settings: "palt";
	letter-spacing: 0.08rem;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
	-webkit-font-smoothing: antialiased;
}

/* body {
	color: #333;
	font-family: LIFULL, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "MSゴシック", sans-serif;
	font-size: 1.6rem;
	font-feature-settings: "palt";
	letter-spacing: 0.08rem;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
	-webkit-font-smoothing: antialiased;
} */

/* .ie body {
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "MSゴシック", sans-serif;
} */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
/* 
@font-face {
	font-family: LIFULL;
	src: url(/fonts/LIFULLFONT-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: LIFULL;
	src: url(/fonts/LIFULLFONT-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: LIFULL;
	src: url(/fonts/LIFULLFONT-Heavy.woff);
	font-weight: 900;
	font-style: normal;
}
*/

img {
	border-style: none;
	max-width: 100%;
	vertical-align: top;
}

a {
	color: #ED6103;
	text-decoration: underline;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

a:hover {
	text-decoration: none;
}

input,
button {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	outline: none;
}

/* IE8+, Chrome */
input,
button {
	outline: 0;
}

/* Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

a:hover,
input:hover,
button:hover {
	opacity: 0.8;
}

a.disabled {
	pointer-events: none;
}

*:focus {
	outline: none;
}

a:focus {
	outline: none;
}

a[href^="tel:"] {
	color: #000;
	cursor: default;
}

th,
td {
	word-break: break-all;
}

@media screen and (min-width: 769px) {
	a[href^="tel:"] {
		pointer-events: none;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1.4rem;
		line-height: 1.4;
		top: 0 !important;
	}

	img {
		height: auto;
		max-width: inherit;
		width: 100%;
	}

	a:hover {
		opacity: 1;
	}

	a[href^="tel:"] {
		text-decoration: underline;
	}
}

.spOnly {
	display: none;
}

/* .tabOnly {
	display: none;
} */

@media only screen and (max-width: 768px) {
	/* .tabOnly {
		display: block;
	} */
}

@media only screen and (max-width: 750px) {
	.spOnly {
		display: block;
	}

	.pcOnly {
		display: none;
	}
}

/* module
----------------------------- */
/* button */
.btn a {
	border-radius: 50px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.btn[data-clr="orange"] a {
	background-color: #ED6103;
	height: 80px;
	max-width: 314px;
	width: 100%;
}

.btn[data-clr="whi"] a {
	border: 3px solid #FFF;
	border-radius: 33px;
	height: 65px;
	max-width: 300px;
	width: 100%;
}

.btn[data-clr="orange2"] a {
	border: 1px solid #ED6103;
	border-radius: 33px;
	color: #ED6103;
	height: 65px;
	max-width: 300px;
	width: 100%;
}

/* heading */
.heading[data-hdg="1"] {
	color: #ED6103;
	font-size: 3.2rem;
	line-height: 1;
	margin-bottom: 60px;
	text-align: center;
}

.heading[data-hdg="1"] i {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
	.heading[data-hdg="1"] {
		font-size: 2.8rem;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 750px) {
	/* .btn[data-clr="orange2"] a {
		max-width: 160px;
	} */
}

/* list */
.asterisk {
	margin-top: 20px;
}

.asterisk>li {
	margin-top: 5px;
	padding-left: 20px;
	position: relative;
}

.asterisk li:first-child,
.disc li:first-child {
	margin-top: 0;
}

.asterisk>li:before {
	content: "※";
	left: 0;
	position: absolute;
	top: 0;
}

.disc>li {
	margin-top: 5px;
	padding-left: 15px;
	position: relative;
}

.disc>li:before {
	background-color: #000;
	border-radius: 100%;
	content: "";
	height: 3px;
	left: 6px;
	position: absolute;
	top: 9px;
	width: 3px;
}

.decimal,
.brackets {
	counter-reset: number 0;
}

.decimal>li,
.brackets>li {
	margin-top: 5px;
	padding-left: 20px;
	position: relative;
}

.decimal>li:before,
.brackets>li:before {
	counter-increment: number 1;
	content: counter(number) ".";
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 300;
	left: 0;
	position: absolute;
	top: 0;
}

.brackets>li:before {
	content: counter(number) ")";
}



/* header
----------------------------- */
header {
	height: 100px;
	left: 50%;
	padding-top: 29px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hd-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 28px;
	max-width: 1280px;
}

header .hd-inside {
	justify-content: flex-end;
}

header .hd-logo {
}

header .hd-logo img {
	height: auto;
	max-width: initial;
	width: 200px;
}

.gnav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
}

.gnav>ul {
	display: flex;
	justify-content: space-between;
}

.gnav>ul li {
	font-size: 1.4rem;
	margin-left: 35px;
}

.gnav>ul li:first-child {
	margin-left: 0;
}

.gnav>ul li a {
	/* color: #fff; */
	text-decoration: none;
}

/* .gnav .btn {
	margin-left: 34px;
}

.gnav .btn a {
	background-color: #ED6103;
	font-size: 1.4rem;
	height: 38px;
	width: 110px;
} */

.sd-trigger {
	display: none;
}

.sd-menu {
	display: none;
}

/* header fixed */
/* .hd-fixed {
	background-color: rgba(255, 255, 255, 1);
	height: 0;
	opacity: 0;
	padding-top: 0;
	position: fixed;
	top: -100px;
	width: 100%;
	z-index: -1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.hd-fixed.is-show {
	display: block;
	height: 100px;
	padding-top: 29px;
	opacity: 1;
	top: 0;
	z-index: 2;
}

.hd-fixed .hd-logo {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.hd-fixed .gnav>ul li a {
	color: #ED6103;
} */
/* 
@media only screen and (max-width: 1280px) {
	.gnav>ul li {
		font-size: 1.3rem;
		margin-left: 25px;
	}
}

@media only screen and (max-width: 1024px) {
	.hd-fixed .hd-inside {
		justify-content: flex-end;
	}
	
	.hd-fixed .hd-logo {
		display: none;
	}
} */

@media only screen and (max-width: 750px) {
	header {
		height: 54px;
		padding-top: 15px;
		position: fixed;
	}

	header .hd-def {
		/* display: none; */
	}

	.hd-inside {
		height: 69px;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* hd-fixed */
	.hd-fixed.is-show {
		box-shadow: 0px 3px 4px 0px rgba(000, 000, 000, 0.06);
		height: 54px;
		padding-top: 0;
	}

	.hd-fixed .hd-inside {
		justify-content: space-between;
		height: 54px;
	}

	.hd-fixed .hd-logo {
		display: block;
		transform: none;
	}

	.hd-fixed .hd-logo img {
		height: auto;
		max-width: 174px;
	}

	.hd-fixed .gnav {
		display: none;
	}

	header .hd-inside .hd-title {
		width: 180px;
	}
}

@media only screen and (max-width: 375px) {
	.hd-fixed.is-show {
		height: 54px;
	}
}

@media only screen and (max-width: 750px) {
	/* trigger */
	.sd-trigger {
		display: block;
		/* position: fixed; */
		position: absolute;
		margin-top: 20px;
		right: 10px;
		top: 0;
		z-index: 3001;
	}

	/* hd-fixed trigger */
	.hd-fixed .sd-trigger {
		position: initial;
		margin-top: 0;
		-webkit-transform: translate(10px, 3px);
		transform: translate(10px, 3px);
	}

	.sd-trigger p {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 13px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		position: relative;
		z-index: 3001;
	}

	.sd-trigger p span {
		background-color: #ED6103;
		border-radius: 3px;
		display: block;
		height: 3px;
		position: relative;
		width: 20px;
	}

	.sd-trigger p span:before,
	.sd-trigger p span:after {
		background-color: #ED6103;
		border-radius: 3px;
		content: "";
		display: block;
		height: 3px;
		left: 0;
		position: absolute;
		width: 20px;
	}

	.sd-trigger p span:before {
		top: -9px;
	}

	.sd-trigger p span:after {
		top: 9px;
	}

	/* global navigation */
	.gnav {
		display: block;
		max-width: initial;
		width: auto;
	}

	.gnav>ul {
		display: block;
		margin-right: 0;
		padding-top: 64px;
		text-align: center;
		width: auto;
	}

	/* sd-menu */
	.sd-menu {
		display: block;
	}

	.sd-menu .close {
		display: block;
	}

	.sd-menu .lower {
		padding-top: 20px;
	}

	nav.sd-menu {
		background-color: rgba(255, 255, 255, 1);
		/* transition: -webkit-transform 0.3s ease-out;
		transition: transform 0.3s ease-out; */
		transition: -webkit-all 0.3s ease-out;
		transition: all 0.3s ease-out;
		color: #fff;
		display: block;
		height: 100%;
		overflow: auto;
		position: fixed;
		/* right: -50%; */
		right: 0;
		top: 0;
		width: 100%;
		opacity: 0;
		z-index: -1;
	}

	nav.sd-menu.block {
		/* -webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0); */
		-webkit-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		opacity: 1;
		z-index: 3000;
	}

	nav.sd-menu .menu-inside {
		height: 100%;
		overflow-y: auto;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}

	nav.sd-menu .upper {
		min-height: 55px;
		padding-right: 30px;
		position: relative;
	}

	nav.sd-menu .close {
		height: 40px;
		margin-left: auto;
		padding: 10px;
		position: absolute;
		right: -10px;
		top: 10px;
		width: 40px;
	}

	nav.sd-menu .close span {
		display: block;
		height: 20px;
		position: relative;
		width: 20px;
	}

	nav.sd-menu .close span:before,
	nav.sd-menu .close span:after {
		background-color: #ED6103;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		top: 50%;
		width: 20px;
	}

	nav.sd-menu .close span:before {
		transform: rotate(45deg);
	}

	nav.sd-menu .close span:after {
		transform: rotate(-45deg);
	}

	nav.sd-menu .menu-inside .logo {
		color: #ED6103;
		font-size: 2.0rem;
		font-weight: bold;
		opacity: 0;
		padding-top: 15px;
	}

	nav.sd-menu .menu-inside .lower {
		height: 100%;
		padding-top: 25px;
		overflow-y: auto;
	}

	nav.sd-menu .menu-inside ul.link-house {
		/* display: none; */
	}

	nav.sd-menu .menu-inside ul li {
		margin-top: 35px;
		text-align: center;
	}

	nav.sd-menu .menu-inside ul li:first-child {
		margin-top: 0;
	}

	nav.sd-menu .menu-inside ul li a {
		color: #ED6103;
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
	}

	nav.sd-menu .menu-inside .btn {
		display: block;
		margin-top: 35px;
	}

	nav.sd-menu .menu-inside .btn a {
		background-color: #ED6103;
		font-size: 1.4rem;
		height: 38px;
		width: 110px;
	}

	/* overlay */
	#sd-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		transition: 0.3s;
		background: rgba(000, 000, 000, .5);
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}

	#sd-overlay.block {
		z-index: 2;
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
	}

	#sd-overlay-android {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		display: none;
		background: rgba(000, 000, 000, .5);
		z-index: 8;
	}
}



/* footer
----------------------------- */
footer {
	background-color: #ED6103;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 260px;
	padding-left: 40px;
	padding-right: 40px;
}

footer a {
	color: #ED6103;
	text-decoration: none;
}

footer .ft-inside {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 1024px;
	width: 100%;
}

footer .ft-logo svg {
	max-width: 300px;
}

footer .ft-logo svg path {
	fill: #fff;
}

footer .copyright {
	font-size: 1.2rem;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	/* footer {
		height: 225px;
	}

	footer .ft-nav li {
		margin-left: 30px;
	}

	footer .address {
		margin-top: 15px;
	}

	.android footer .copyright i {
		font-family: "Droid Sans", Verdana;
	} */
}

@media only screen and (max-width: 750px) {
	/* footer {
		height: auto;
		padding-bottom: 35px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 75px;
	}

	footer .ft-inside {
		display: block;
		text-align: center;
		max-width: initial;
	}

	footer .address {
		margin-top: 35px;
	}

	footer .copyright {
		margin-top: 35px;
	} */
}

.pagetop {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 12px 23px rgba(0, 0, 0, .2);
	border-radius: 100%;
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	z-index: 1;
}

.pagetop:before {
	border-right: 2px solid #ED6103;
	border-top: 2px solid #ED6103;
	content: "";
	height: 15px;
	position: absolute;
	right: 50%;
	top: 50%;
	width: 15px;
	z-index: 1;
	-webkit-transform: translate(50%, -25%) rotate(-45deg);
	transform: translate(50%, -25%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.pagetop {
		bottom: 20px;
		right: 20px;

		height: 40px;
		width: 40px;
	}

	.pagetop:before {
		height: 8px;
		width: 8px;
	}
}



/* contents
----------------------------- */
#contents {
	background-color: #FFF;
}

.sec-inside {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

.sns .share a {
	background-image: url(/img/common/btn_sprite_sns.svg);
	border-radius: 100%;
	cursor: pointer;
	display: block;
	height: 40px;
	position: relative;
	width: 40px;
}

.sns .share a::before {
	background-image: url(/img/common/btn_sprite_sns.svg);
	border-radius: 100%;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	opacity: 1;
	z-index: 1;
}

.sns .share a:hover::before {
	opacity: 0;
	z-index: -1;
}

.sns .share.tw a {
	background-position: right bottom;
}

.sns .share.fb a {
	background-position: right top;
}

.sns .share.tw a::before {
	background-position: left bottom;
}

.sns .share.fb a::before {
	background-position: left top;
}

.sns .share a i {
	display: block;
	text-indent: -999em;
}

@media only screen and (max-width: 1280px) {
	#contents {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media only screen and (max-width: 750px) {
	#contents {
		padding-left: 20px;
		padding-right: 20px;
	}
}



































/* fade Up Scroll
-----------------------------
.fadeInUp {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 1s;
}

.fadeInUp.active {
	opacity: 1;
	transform: translate(0, 0);
} */



/* -----------------------------

 

----------------------------- */
/* -----------------
 override
----------------- */
/*  */


@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 750px) {
}


/* 
----------------- */













/* -----------------------------

 

----------------------------- */
/*  */


@media only screen and (max-width: 750px) {
}


/* -----------------
 
----------------- */

@media only screen and (max-width: 750px) {
}



